<!DOCTYPE html>
<html lang="Chinese (Simplified)">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
<h1>终极博客{% if request.user.is_authenticated %}
        <a href="blog/logout">{{ request.user.username }}</a>
        {% endif %}</h1>
</header>
{% block content %}{% endblock %}
{% block footer %}
<hr>
    <footer>
    <p>欢迎{% if request.user.is_authenticated %}
        {{ request.user.username }}
        {% endif %}访问终极博客!</p>
    </footer>
{% endblock %}
</body>
</html>