{% extends "base/base.html" %}
{% block title %}
    欢迎注册新用户
{% endblock %}
{% block content %}
{% if form.error %}
    <p style="color: red;">Please correct the error{{ form.errors|pluralize }}below.</p>
{% endif %}
<form method="post" action="">
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="submit">
</form>
{% endblock %}
