{% extends "base/base.html" %}
{% block title %}
    我的博文
{% endblock %}
{% block content %}
<fieldset title="博客论题搜索">
<form action="">
    <input name="q" type="text" value=""><input type="submit" value="查询"><a href="/blog/addTopic">添加博客</a>
</form>
{% if topics %}
    <p>有 {{ topics|length }}{{ topics|pluralize }} 个文章 </p>
    <ui>
    {% for topic in topics %}
            <li>{{ topic.title }}|{{ topic.content }}|{{ topic.create_time }}</li>
        {% endfor %}
    </ui>
    {% else %}
    <p>还没有发表过博文！</p>
{%  endif %}
</fieldset>
{% endblock %}